.calligraphy {
    font-family: 'Great Vibes', 'Marck Script', cursive;
    font-weight: normal;
    font-style: normal;
}

.readable {
    font-family: 'Amatic SC', cursive;
    font-weight: bolder;
    font-style: normal;
}

body {
    background-color: white;
    color: gray;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headline-title {
    font-size: 8vh;
    color: #555555;
    margin-top: 3vh;
    margin-bottom: 0;
    text-align: center;
}

.headline-subtitle {
    font-size: 3vh;
    text-align: center;
}

.mira-and-joao-pic {
    content: url(img/miraandjoao.jpg);
    max-height: 50vh;
    max-width: 100%;
}

.calendar {
    font-family: 'Amatic SC', cursive;
    font-weight: bolder;
    font-style: normal;
    font-size: 3vh;
}

.week {
    display: flex;
}

.week-header {
    display: flex;
    color: #555555;
}

.day {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    padding: 5px;
    font-size: 2.5vh;
}

.day.selected {
    background: url(img/heart.png) no-repeat;
    background-size: 100%;
}

.details {
    text-align: center;
}

.details.save-the-date {
    font-size: 3vh;
    color: #555555;
}

.details.date {
    font-size: 6vh;
    color: #880903;
    text-shadow: 2px 2px 0px #a45f62;
}

.details.place {
    font-size: 3vh;
    color: #555555;
}

.floral-separator {
    content: url(img/floral.png);
    max-width: 20%;
}

.footline {
    font-size: 2vh;
    text-align: center;
}

.copyright {
    font-size: 1vh;
    font-family: sans-serif;
    color: lightgray;
}