<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-42628014-3"></script>
    <script>
        function getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for(var i = 0; i <ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag("js", new Date());
        var config = {};
        var userid = getCookie("usertag");
        var source = getCookie("utm_source");
        var medium = getCookie("utm_medium");
        var campaign = getCookie("utm_campaign");
        var content = getCookie("utm_content");
        if (userid || source || medium || campaign || content) {
            if (userid) {
                config["user_id"] = userid;
            }
            if (source || medium || campaign || content) {
                config.campaign = {};
                if (source) {
                    config.campaign.source = source;
                }
                if (medium) {
                    config.campaign.medium = medium;
                }
                if (campaign) {
                    config.campaign.name = campaign;
                }
                if (content) {
                    config.campaign.content = content;
                }
            }
            gtag('config', 'UA-42628014-3', config);
        } else {
            gtag('config', 'UA-42628014-3');
        }
    </script>

    <meta charset="UTF-8">
    <title><!--title--></title>
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="stylesheet" href="/main.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Great+Vibes|Marck+Script" rel="stylesheet">
</head>
<body>
<!--content-->
<div class="copyright">© Joao Lourenco 2019 | <a href="/privacy/"><%= privacyPolicyPage.title %></a></div>
</body>
</html>