@import "variables";
@import "node_modules/compass-mixins/lib/compass/css3";

body, html {
  position: relative;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: $offwhite;
}

::-webkit-scrollbar-thumb {
  background-color: $salmon;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
@mixin calligraphy() {
  font-family: 'Great Vibes', 'Marck Script', cursive;
}
.calligraphy {
  @include calligraphy();
}
@mixin readable() {
  font-family: 'Amatic SC', cursive;
}
.readable {
  @include readable();
}
@mixin digital() {
  font-family: 'Dosis', sans-serif;
}
.digital {
  @include digital();
}

/*
  Typography
 */
h2 {
  @include readable();
  font-weight: bolder;
  text-transform: uppercase;
}

/*
  Buttons
 */
.btn {
  @include readable();
  font-weight: bolder;
  letter-spacing: 4px;
  border-radius: unset;

  &.btn-primary {
    background-color: $burgundy;
    border-color: $burgundy;

    &:hover {
      text-shadow: 2px 2px 2px $white;
    }
  }
}
a.round-icon {
  font-size: 16px;
  height: 30px;
  width: 30px;
  padding-top: 7px;
  padding-left: 1px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: $salmon;
  color: $white !important;
  &:hover {
    background-color: $burgundy;
  }
}

/*
  Grid system
 */
.row {
  &.top50 {
    margin-top: 50px;
  }
}
.cover-col {
  min-height: 400px;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  &#miraFormal {
    background-image: url(/img/mira-formal.jpg);
  }
  &#joaoFormal {
    background-image: url(/img/joao-formal.jpg);
  }
}

/*
  Navigation
 */
.navbar {
  .navbar-brand {
    color: $burgundy !important;
    text-shadow: 1px 1px 0px $grey;
    font-size: xx-large;
  }

  .navbar-toggler {
    background-color: $burgundy;
    color: $white;
  }

  .nav-item a.nav-link {
    text-transform: uppercase;
    font-weight: bolder;
    font-style: normal;
    font-size: x-large;

    &:hover {
      color: $salmon;
    }

    &.active {
      color: $burgundy;
    }
  }
}

/*
  Content
 */
section {
  padding-top: 74px;
  margin-top: -74px;
  padding-bottom: 74px;
  position: relative;

  .section-heading {
    color: $burgundy;
    display: flex;
    justify-content: center;
    align-content: center;

    &:before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f004\f004";
      position: absolute;
      top: 74px;
    }

    h1 {
      @include calligraphy();
      background-color: $offwhite;
      border-top: solid $burgundy 1px;
      border-bottom: solid $burgundy 1px;
      display: inline-block;
      text-align: center;
      padding: 0 10px;
      margin-top: 24px;
      margin-bottom: 50px;
    }
  }

  &.dark {
    .section-heading {
      color: $offwhite;

      h1 {
        background-color: rgba($white, 0.2);
        border-color: $offwhite;
      }
    }

    p {
      color: $offwhite;
    }
  }
}

/*
  Home content
 */
#home.jumbotron {
  min-height: 100vh;
  margin-bottom: unset;
  padding-bottom: unset;
  border-radius: unset;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/img/main-image.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-content: center;
  justify-content: center;

  .ethereal-header {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 74px;
    z-index: 10;
    pointer-events: none;
  }

  .jumbotron-content {
    align-self: flex-end;
    text-align: center;
    color: $white;

    .headline-title {
      text-shadow: 2px 2px 0px $grey;
    }

    .headline-subtitle {
      text-transform: uppercase;
      letter-spacing: 8px;
      font-weight: bolder;
      text-shadow: 1px 1px 0px $grey;
      border-top: 1px solid $white;
      border-bottom: 1px solid $white;
      margin-bottom: 100px;
    }

    .rsvp-cta {
      width: 200px;
      height: 100%;
      margin: 0 auto 30px;
      -webkit-perspective: 1000;
      -webkit-backface-visibility: hidden;
      background: transparent;

      a {
        @include readable();
        position: relative;
        top: 50%;
        left: 50%;
        margin-left: -62.5px;
        margin-top: -75px;
        display: block;
        width: 125px;
        height: 125px;
        font-size: 1.3em;
        font-weight: bolder;
        text-transform: uppercase;
        text-align: center;
        line-height: 100px;
        letter-spacing: 4px;
        color: white;
        border: none;
        border-radius: 50%;
        background: $burgundy;
        cursor: pointer;
        box-shadow: 0 0 0 0 rgba($burgundy, .5);
        animation: pulse 1.5s infinite;

        &:hover {
          animation: none;
        }

        div {
          position: absolute;
          top: 12.5px;
          width: 100%;

          animation: opacityOnAndOff 3s infinite;
          animation-delay: 0.75s;
          opacity: 0;
        }
      }

      @keyframes pulse {
        0% {
          @include transform(scale(.9));
        }
        70% {
          @include transform(scale(1));
          box-shadow: 0 0 0 50px rgba(#5a99d4, 0);
        }
        100% {
          @include transform(scale(.9));
          box-shadow: 0 0 0 0 rgba(#5a99d4, 0);
        }
      }

      @keyframes opacityOnAndOff {
        0% {
          opacity: 1;
        }
        25% {
          opacity: 0;
        }
        35% {
          opacity: 1;
        }
        65% {
          opacity: 1;
        }
        75% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }
  }
}

/*
  Couple content
 */
#couple {
  margin-top: unset;

  .couple-content {
    background-color: $offwhite;
    padding: 10px;
    p {
      color: $grey;
    }
    h3 {
      @include calligraphy();
    }
    span {
      div {
        i {
          color: $white;
        }
      }
    }
  }
}

/*
  Countdown
 */
#countdown {
  .countdown-background {
    background-image: url(/img/countdown-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .countdown-content {

    .countdown-message {
      color: $white;
      text-align: center;

      p {
        margin-top: 30px;
        font-size: x-large;
      }
    }

    .countdown-number {
      font-size: xx-large;
    }

    .countdown-element {
      color: $salmon;
      background-color: $white;
      border: solid $offwhite 3px;
      border-radius: 10px;
      margin: 10px 10px 30px;
      text-align: center;
    }
  }
}

/*
  Story content
 */

/*
  Wedding content
 */
#wedding {
  .wedding-content {

    i.fa-fw {
      color: $salmon;
    }

    a {
      color: $salmon;
      &:hover {
        color: $burgundy;
        text-decoration: none;
      }
    }
  }
}

/*
  RSVP content
 */
#rsvp {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/img/rsvp-bg.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 74px;
  color: $offwhite;

  .rsvp-state {
    display: none;
  }

  .rsvp-loading {
    .rsvp-state.rsvp-loading {
      display: unset;
      text-align: center;
    }
  }

  .rsvp-ok {
    .rsvp-state.rsvp-ok {
      display: unset;
    }
  }

  .rsvp-forbidden {
    .rsvp-state.rsvp-forbidden {
      display: unset;
    }
  }

  .rsvp-notfound {
    .rsvp-state.rsvp-notfound {
      display: unset;
    }
  }

  .rsvp-error {
    .rsvp-state.rsvp-error {
      display: unset;
    }
  }

  form {
    .form-control[readonly] {
      cursor: not-allowed;
    }
    select {
      &:invalid {
        color: $lightgrey;
      }
    }
    textarea::placeholder {
      color: $lightgrey;
    }

    .rsvp-person {
      background-color: rgba($white, 0.1);
      margin-bottom: 30px;
      padding-bottom: 30px;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 30px;

      .rsvp-yes {
        display: none;
      }

      &.rsvp-yes {
        .rsvp-yes {
          display: unset;
        }
      }

      :after {

      }
    }

    #rsvpButton {
      font-size: x-large;

      .fa-circle-notch {
        display: none;
      }

      &.btn-loading {
        .fa-circle-notch {
          display: unset;
        }
      }
    }

    #rsvpThanks {
      &.rsvp-submit-hidden {
        display: none;
      }
    }
  }
}

/*
  Accommodation content
 */
#accommodation {
  background-color: $burgundy;

  #accommodationProvided.accommodation-provided-hidden {
    display: none;
  }

  hr {
    border: none;
    height: 2px;
    background-color: $offwhite;
    color: $offwhite;
  }

  h2 {
    color: $offwhite;
  }

  a {
    color: $offwhite;
    &:hover {
      color: $white;
      text-decoration: none;
    }
  }

  .card {

    border-color: $salmon;
    border-radius: 0;

    img.card-img-top {
      background-color: $darkgrey;
      border-radius: 0;
      max-height: 100%;
      max-width: 100%;
      height: auto;
      width: auto;

      &.logo-border {
        padding: 32px;
      }
    }

    h4 {
      color: $burgundy;
    }

    p {
      color: $darkgrey;
    }

    a {
      color: $salmon;
      &:hover {
        color: $burgundy;
        text-decoration: none;
      }
    }
  }

  #googleMap {
    height: 400px;
    width: 100%;
    margin-bottom: 32px;
  }
}

/*
  Registry content
 */
#registry {
  margin-top: 0px;
  text-align: center;
}

/*
  Copyright
 */
.copyright {
  font-size: 11px;
  font-family: sans-serif;
  color: $lightgrey;
  text-align: center;
  margin: 10px;

  a {
    color: $lightgrey;
  }
}