<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-42628014-3"></script>
    <script>
        function getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for(var i = 0; i <ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag("js", new Date());
        var config = {};
        var userid = getCookie("usertag");
        var source = getCookie("utm_source");
        var medium = getCookie("utm_medium");
        var campaign = getCookie("utm_campaign");
        var content = getCookie("utm_content");
        if (userid || source || medium || campaign || content) {
            if (userid) {
                config["user_id"] = userid;
            }
            if (source || medium || campaign || content) {
                config.campaign = {};
                if (source) {
                    config.campaign.source = source;
                }
                if (medium) {
                    config.campaign.medium = medium;
                }
                if (campaign) {
                    config.campaign.name = campaign;
                }
                if (content) {
                    config.campaign.content = content;
                }
            }
            gtag('config', 'UA-42628014-3', config);
        } else {
            gtag('config', 'UA-42628014-3');
        }
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= miraAndJoao %></title>
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="/thirdParty.css">
    <link rel="stylesheet" href="/index.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Great+Vibes|Marck+Script|Dosis" rel="stylesheet">
</head>
<body data-spy="scroll" data-target="#navbar" data-offset-top="148">
    <nav id="navbar" class="navbar fixed-top navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand calligraphy" href="#home">
            <span><%= miraAndJoao %></span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse readable" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#home"><%= nav.home %></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#couple"><%= nav.couple %></a>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link" href="#story"><%= nav.story %></a>
                </li>-->
                <li class="nav-item">
                    <a class="nav-link" href="#wedding"><%= nav.wedding %></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#people"><%= nav.people %></a>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link" href="#gallery"><%= nav.gallery %></a>
                </li>-->
                <li class="nav-item">
                    <a class="nav-link" href="#rsvp"><%= nav.rsvp %></a>
                </li>
            </ul>
        </div>
    </nav>
    <section id="home" class="jumbotron">
        <div id="ethereal-header" class="ethereal-header">
            <canvas id="ethereal-canvas"></canvas>
        </div>

        <div class="jumbotron-content">
            <h1 class="display-4 headline-title calligraphy"
                data-aos="fade-up"
                data-aos-delay="100">
                <%= miraAndJoao %>
            </h1>
            <h4 class="lead headline-subtitle readable"
                data-aos="fade-up"
                data-aos-delay="700">
                <%= areGettingMarried %>
            </h4>
            <div class="rsvp-cta"
                 data-aos="fade-up"
                 data-aos-anchor="h1.headline-title"
                 data-aos-delay="1400">
                <a href="#rsvp" class="pulse-button">
                    <div><i class="fas fa-reply"></i></div>
                    <div><%= nav.rsvp %></div>
                </a>
            </div>
            <div class="date-place"
                 data-aos="fade-up"
                 data-aos-anchor="h1.headline-title"
                 data-aos-delay="2100">
                <p class="readable"><%= weddingDate %></p>
                <p class="readable"><%= algarvePortugal %></p>
            </div>
        </div>
    </section>
    <section id="couple">
        <div class="section-heading">
            <h1><%= couple.title %></h1>
        </div>
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-6 col-12">
                    <div id="miraFormal" class="cover-col" data-aos="fade-up"></div>
                </div>
                <div class="col-md-6 col-12 couple-content">
                    <h2 data-aos="fade-up"><%= couple.theBride.title %></h2>
                    <div data-aos="fade-up">
                        <p><%= couple.theBride.content1 %></p>
                        <p><%= couple.theBride.content2 %></p>
                    </div>
                    <h3 data-aos="fade-up"><%= mira %></h3>
                    <p data-aos="fade-up">
                        <a target="_blank" href="https://www.facebook.com/mira.yegemberdiyeva" class="fab fa-facebook round-icon"></a>
                        <a target="_blank" href="https://www.instagram.com/mirahontas/" class="fab fa-instagram round-icon"></a>
                    </p>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-md-6 order-md-2 col-12">
                    <div id="joaoFormal" class="cover-col" data-aos="fade-up"></div>
                </div>
                <div class="col-md-6 order-md-1 col-12 couple-content">
                    <h2 data-aos="fade-up"><%= couple.theGroom.title %></h2>
                    <div data-aos="fade-up">
                        <p><%= couple.theGroom.content1 %></p>
                        <p><%= couple.theGroom.content2 %></p>
                    </div>
                    <h3 data-aos="fade-up"><%= joao %></h3>
                    <p data-aos="fade-up">
                        <a target="_blank" href="https://www.facebook.com/JoaoMCLourenco" class="fab fa-facebook round-icon"></a>
                        <a target="_blank" href="https://www.instagram.com/blackstarzes/" class="fab fa-instagram round-icon"></a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="countdown">
        <div class="countdown-background">
            <div class="countdown-content">
                <div class="container">
                    <div class="row">
                        <div class="col-12 countdown-message">
                            <p class="calligraphy">
                                <%= countdown.countingDown %>
                            </p>
                        </div>
                    </div>
                    <div class="row digital justify-content-center">
                        <div class="col-md-2 col-sm-3 col-6">
                            <div class="countdown-element">
                                <p id="countdown-days" class="countdown-number">
                                    --
                                </p>
                                <p class="countdown-unit">
                                    <%= countdown.days %>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-3 col-6">
                            <div class="countdown-element">
                                <p id="countdown-hours" class="countdown-number">
                                    --
                                </p>
                                <p class="countdown-unit">
                                    <%= countdown.hours %>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-3 col-6">
                            <div class="countdown-element">
                                <p id="countdown-minutes" class="countdown-number">
                                    --
                                </p>
                                <p class="countdown-unit">
                                    <%= countdown.minutes %>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-3 col-6">
                            <div class="countdown-element">
                                <p id="countdown-seconds" class="countdown-number">
                                    --
                                </p>
                                <p class="countdown-unit">
                                    <%= countdown.seconds %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--<section id="story">
        <div class="section-heading">
            <h1><%= nav.story %></h1>
        </div>
    </section>-->
    <section id="wedding">
        <div class="section-heading">
            <h1><%= wedding.title %></h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-12">
                    <img src="/img/church.jpg" class="img-fluid"/>
                </div>
                <div class="col-md-6 col-12 wedding-content">
                    <h2><%= wedding.ceremony.title %></h2>
                    <h3 class="calligraphy"><%= at %> <%= wedding.ceremony.name %></h3>
                    <p>
                        <i class="fas fa-map-marker-alt fa-fw"></i>
                        <%= wedding.ceremony.location %>
                    </p>
                    <p>
                        <i class="fas fa-clock fa-fw"></i>
                        <%= wedding.ceremony.date %>
                    </p>
                    <p>
                        <%= wedding.ceremony.description %>
                    </p>
                    <p>
                        <a href="http://google.com/maps/dir/?api=1&destination=Church+of+Our+Lady+of+the+Incarnation,+Porches,+Portugal" target="_blank">
                            <%= wedding.seeLocation %>
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </p>
                </div>
            </div>
            <div class="row top50">
                <div class="col-md-6 col-12">
                    <img src="/img/reception.jpg" class="img-fluid"/>
                </div>
                <div class="col-md-6 col-12 wedding-content">
                    <h2><%= wedding.reception.title %></h2>
                    <h3 class="calligraphy"><%= at %> <%= wedding.reception.name %></h3>
                    <p>
                        <i class="fas fa-map-marker-alt fa-fw"></i>
                        <%= wedding.reception.location %>
                    </p>
                    <p>
                        <i class="fas fa-clock fa-fw"></i>
                        <%= wedding.reception.date %>
                    </p>
                    <p>
                        <%= wedding.reception.description %>
                    </p>
                    <p>
                        <a href="http://google.com/maps/dir/?api=1&destination=Vila+Vita+Parc,+Porches,+Portugal" target="_blank">
                            <%= wedding.seeLocation %>
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="people">
        <div class="section-heading">
            <h1><%= people.title %></h1>
        </div>
    </section>
    <!--<section id="gallery">
        <div class="section-heading">
            <h1><%= nav.gallery %></h1>
        </div>
    </section>-->
    <section id="rsvp" class="dark">
        <div class="section-heading">
            <h1><%= rsvp.title %></h1>
        </div>
        <div class="container">
            <div id="rsvp-loading" class="row">
                <div class="col-12">
                    <div class="fa-3x">
                        <i class="fas fa-circle-notch fa-spin"></i>
                    </div>
                </div>
            </div>
            <div id="rsvp-forbidden" class="row rsvp-hidden">
                <div class="col-12">
                    <p><%= rsvp.forbidden %></p>
                </div>
            </div>
            <div id="rsvp-notfound" class="row rsvp-hidden">
                <div class="col-12">
                    <p><%= rsvp.notfound %></p>
                </div>
            </div>
            <div id="rsvp-error" class="row rsvp-hidden">
                <div class="col-12">
                    <p><%= rsvp.error %></p>
                </div>
            </div>
            <div id="rsvp-available" class="row rsvp-hidden">
                <div class="col-12">
                    <p><%= rsvp.pleaseRespond %></p>
                </div>
                <div class="col-12">
                    <form>
                        <div id="grpPeople" class="form-row"
                             data-people-count="0"
                             data-i18n-name="<%= rsvp.form.name %>"
                             data-i18n-coming="<%= rsvp.form.coming %>" data-i18n-comingplaceholder="<%= rsvp.form.comingPlaceholder %>" data-i18n-yes="<%= rsvp.form.yes %>" data-i18n-no="<%= rsvp.form.no %>"
                             data-i18n-dietaryrequirements="<%= rsvp.form.dietaryRequirements %>" data-i18n-dietplaceholder="<%= rsvp.form.dietPlaceholder %>" data-i18n-standard="<%= rsvp.form.standard %>" data-i18n-vegetarian="<%= rsvp.form.vegetarian %>"
                             data-i18n-allergies="<%= rsvp.form.allergies %>" data-i18n-allergiesplaceholder="<%= rsvp.form.allergiesPlaceholder %>">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-12 col-md-6">
                                <div class="form-check">
                                    <input type="checkbox" id="chkBacheloretteParty" class="form-check-input">
                                    <label for="chkBacheloretteParty" class="form-check-label">I'm coming to the bachelorette party</label>
                                </div>
                            </div>
                            <div class="form-group col-12 col-md-6">
                                <div class="form-check">
                                    <input type="checkbox" id="chkBachelorParty" class="form-check-input">
                                    <label for="chkBachelorParty" class="form-check-label">I'm coming to the bachelor party</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section id="accommodation" class="dark">
        <div class="section-heading">
            <h1><%= accommodation.title %></h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p>TODO</p>
                </div>
            </div>
        </div>
    </section>
    <section id="registry">
        <div class="section-heading">
            <h1><%= registry.title %></h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p>TODO</p>
                </div>
            </div>
        </div>
    </section>
    <div class="copyright">© Joao Lourenco 2019 | <a href="/privacy/"><%= privacyPolicyPage.title %></a></div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="/thirdParty.js"></script>
    <script src="/ethereal.js"></script>
    <script src="/index.js"></script>
    <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAUGlv2ylVDZF9j3vee3-i-FItsfb75-o&callback=initMaps" async defer></script>-->
</body>
</html>