<section id="couple">
    <div class="section-heading">
        <h1><%= couple.title %></h1>
    </div>
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-6 col-12">
                <div id="miraFormal" class="cover-col"></div>
            </div>
            <div class="col-md-6 col-12 couple-content">
                <h2><%= couple.theBride.title %></h2>
                <div>
                    <p><%= couple.theBride.content1 %></p>
                    <p><%= couple.theBride.content2 %></p>
                </div>
                <h3><%= mira %></h3>
                <p>
                    <a target="_blank" href="https://www.facebook.com/mira.yegemberdiyeva" class="fab fa-facebook round-icon"></a>
                    <a target="_blank" href="https://www.instagram.com/mirahontas/" class="fab fa-instagram round-icon"></a>
                </p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-md-6 order-md-2 col-12">
                <div id="joaoFormal" class="cover-col"></div>
            </div>
            <div class="col-md-6 order-md-1 col-12 couple-content">
                <h2><%= couple.theGroom.title %></h2>
                <div>
                    <p><%= couple.theGroom.content1 %></p>
                    <p><%= couple.theGroom.content2 %></p>
                </div>
                <h3><%= joao %></h3>
                <p>
                    <a target="_blank" href="https://www.facebook.com/JoaoMCLourenco" class="fab fa-facebook round-icon"></a>
                    <a target="_blank" href="https://www.instagram.com/blackstarzes/" class="fab fa-instagram round-icon"></a>
                </p>
            </div>
        </div>
    </div>
</section>
