<section id="home" class="jumbotron">
    <div id="ethereal-header" class="ethereal-header">
        <canvas id="ethereal-canvas"></canvas>
    </div>

    <div class="jumbotron-content">
        <h1 class="display-4 headline-title calligraphy"
            data-aos="fade-up"
            data-aos-delay="100">
            <%= miraAndJoao %>
        </h1>
        <h4 class="lead headline-subtitle readable"
            data-aos="fade-up"
            data-aos-delay="700">
            <%= weddingDatePlace %>
        </h4>
        <div class="rsvp-cta"
             data-aos="fade-up"
             data-aos-anchor="h1.headline-title"
             data-aos-delay="1400">
            <a href="#gallery" class="pulse-button">
                <div><%= nav.gallery %></div>
            </a>
        </div>
    </div>
</section>
