<section id="weddingparty">
    <div class="section-heading">
        <h1><%= people.title %></h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <img class="person" src="/img/janelle.jpg">
                <h3><%= people.janelle %></h3>
                <p><%= people.maidOfHonour %></p>
            </div>
            <div class="col-12 col-md-6">
                <img class="person" src="/img/kieron.jpg">
                <h3><%= people.kieron %></h3>
                <p><%= people.bestMan %></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <img class="person" src="/img/diana.jpg">
                <h3><%= people.diana %></h3>
                <p>
                    <%= people.bridesmaid %>
                    <br/>
                    <%= people.masterOfCeremonies %>
                </p>
            </div>
            <div class="col-12 col-md-6">
                <img class="person" src="/img/marcelo.jpg">
                <h3><%= people.marcelo %></h3>
                <p>
                    <%= people.groomsman %>
                    <br/>
                    <%= people.brotherOfGroom %>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <img class="person" src="/img/christine.jpg">
                <h3><%= people.christine %></h3>
                <p><%= people.bridesmaid %></p>
            </div>
            <div class="col-12 col-md-6">
                <img class="person" src="/img/andrew.jpg">
                <h3><%= people.andrew %></h3>
                <p><%= people.groomsman %></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <img class="person" src="/img/ravilya.jpg">
                <h3><%= people.ravilya %></h3>
                <p><%= people.motherOfBride %></p>
            </div>
            <div class="col-12 col-md-6">
                <img class="person" src="/img/danette.jpg">
                <h3><%= people.danette %></h3>
                <p><%= people.motherOfGroom %></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <img class="person" src="/img/joldas.jpg">
                <h3><%= people.joldas %></h3>
                <p><%= people.fatherOfBride %></p>
            </div>
            <div class="col-12 col-md-6">
                <img class="person" src="/img/john.jpg">
                <h3><%= people.john %></h3>
                <p><%= people.fatherOfGroom %></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <img class="person" src="/img/yelzhan.jpg">
                <h3><%= people.yelzhan %></h3>
                <p><%= people.brotherOfBride %></p>
            </div>
            <div class="col-12 col-md-6">
                <img class="person" src="/img/verena.jpg">
                <h3><%= people.verena %></h3>
                <p>
                    <%= people.masterOfCeremonies %>
                    <br/>
                    <%= people.sisterOfGroom %>
                </p>
            </div>
        </div>
    </div>
</section>
